.Meanings h3,
h4 {
  margin-top: 15px !important;
  margin-bottom: 25px !important;
  text-decoration: underline;
  color: rgb(92, 109, 219);
}

.Meanings p {
  margin-bottom: 5px;
}

.Meanings .definitions {
  margin-bottom: 24px;
  font-weight: 350;
}

.Meanings .examples {
  opacity: 0.9;
  font-weight: 350;
  font-size: 14px;
  color: rgb(92, 109, 219);
}
