:root {
  --main-color: rgb(87, 203, 4);
  --border-color: rgb(78, 170, 8);
  --heading-color: rgb(233, 83, 137);
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./autumn.jpg");
  background-size: 30%;
}

.App .container {
  background-color: #f2f2f2;
  border-radius: 15px;
  border: 1px solid #000;
}

.App .dictionary-app {
  max-width: 800px;
  margin: 0 auto;
}

.App header {
  margin-top: 20px;
  margin-bottom: 14px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App main {
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px grey;
}

.App footer {
  text-align: center;
  margin: 25px 0px 15px;
  font-size: 14px;
  opacity: 0.8;
}

.App h1 {
  color: var(--heading-color);
  text-shadow: 2px 1px 2px #000;
  padding: 0;
  margin: 65px 14px 0px 0px;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.App .logo {
  width: 90px;
}
