/* .Dictionary {
  background-color: #fff;
  padding-top: 25px;
} */

.Dictionary section {
  margin: 0px 70px 35px;
}

.Dictionary .form-container {
  /* margin: 0 auto; */
  border-radius: 8px;
  max-width: 800px;
  background-color: #f7f7f7;
  border: 2px solid #eaeaea;
  height: 60px;
  position: relative;
}

.Dictionary .word-input {
  background-color: #f7f7f7;
  border: none;
  margin-top: 15px;
  margin-left: 15px;
  outline: none;
}

.Dictionary .mainBtn {
  position: absolute;
  top: 9px;
  right: 10px;
  background-color: rgb(87, 203, 4);
  border: 1px solid rgb(78, 170, 8);
  color: #e8fcd1;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgb(65, 147, 2);
  height: 2em;
}

.arrowButtons {
  display: flex;
  justify-content: space-between;
}

.prev,
.next {
  border-radius: 30%;
  background-color: transparent;
  color: #3fbbd8;
  border: 1px solid #3fbbd8;
  /* color: gray; */
  font-size: 12px;
  /* line-height: 30px; */
  box-shadow: 1px 1px 1px #3fbbd8;
  margin-top: 18px;
}
