.Phonetic {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.Phonetic .phonetic-item {
  margin: 0 15px 0 15px;
}
.Phonetic .phonetic-item.text {
  font-size: 22px;
  opacity: 0.5;
  margin-top: 4px;
}

.Phonetic button {
  font-size: 14px;
  border: none;
  color: #757575;
  box-shadow: 1px 1px 1px #757575;
  background: rgb(243, 244, 16);
  background: linear-gradient(
    200deg,
    rgba(243, 244, 16, 1) 27%,
    rgba(235, 139, 4, 1) 99%
  );
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic button:hover {
  border: 1px solid #757575;
  opacity: 0.9;
}
