.Photos .slider {
  width: 684px;
  height: 203px;
  overflow: hidden;
  margin: 0 -12px;
}

.Photos .sliderLine {
  height: 203px;
  width: 2052px;
  display: flex;
  position: relative;
  transition: all 300ms ease-in-out;
}

.Photos img {
  width: 220px;
  height: 200px;
  border-radius: 15px;
  margin: 0 4px;
  box-shadow: 2px 2px 3px gray;
}
