.Photos .slider {
  max-width: 684px;
  height: 203px;
  overflow: hidden;
  margin: 0 -12px;
}

.Photos .sliderLine {
  width: 100%;
  display: flex;
  transition: all 150ms ease-in-out;
  justify-content: center;
  gap: 4px;
}

.Photos img {
  max-width: 220px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px gray;
  object-fit: cover;
}

@media (max-width: 992px) {
  .Photos .slider {
    margin-top: -20px;
  }

  .Photos .sliderLine {
    flex-direction: column;
  }

  .Photos img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .Photos .slider {
    margin-top: -10px;
  }
}
